.menu_active {
    font-weight: 700;
}




.navbar {
    width: 100%;
    z-index: 1000;
    z-index: 1000;
    background-color: #970C34;
    height: 5rem !important;
}

.navbar-brand {
    font-size: 48px;
}


.nav ul {
    float: right !important;
}

nav li a {
    font-weight: 700;
    color: white !important;
    letter-spacing: 4;
}

.nav-item :hover {
    font-weight: 700;
    color: #00b894 !important;
    border: none t;
}